*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
font-size:40px;

}
.color-orange{
    color: #FD6E0A;
    font-weight:bolder;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    border-radius:5px;
    padding:18px 36px;
    color:white;
    font-size:20px;
    font-weight: bold;
}
.about-heading h2{
    color:#181818;
    font-size:35px;
    font-weight: bold;
    margin-bottom:30px;
}
.about-container p{
    font-size:18px;
    color:#757575;
    margin-bottom:30px;
}


/* main style */
header{
background-color: #FFF8F3;
background:url('../images/developer.png'),url('../images/header_bg.png'),#FFF8F3;
background-position: top left,bottom right;
background-repeat: no-repeat;
padding-top:51px;
}

nav {
    width:71%;
    max-width:1140px;
    /* border:1px solid red; */
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;


}
nav .menu{

    display:flex;
    list-style: none;
    gap:51px;
    align-items:center;

}

nav .menu a{
    color:#474747;
    text-decoration:none;

}
#banner{
    /* border:1px solid red; */
margin:66px 24px 0 263px;
display:flex;
align-items:center;
justify-content: space-between;

}
.banner-content{
max-width:585px;


}
.banner-content h2{
    font-size:45px;
    font-weight: 600;
    color:#474747;
margin-bottom:5px;
}
.banner-content h1{
    font-size:85px;
    font-weight: bold;
    color:#181818;
    margin-bottom:20px;
}

.banner-content p{
    color:#757575;
    font-size:18px;
    line-height: 30px;
margin-bottom:30px;
}
.excellient{
    margin-right:20px;
}
.banner-img img{
    vertical-align: middle;
    max-width:584px;
}

/* About section design */

#about{
    padding-top:130px;
   

}
.about-container{
    width:71%;
    max-width:1140px;
    background-color: #FFF8F3;
    padding:131px 157px;
     margin:0 auto;
     text-align:center;
}
.about-info{
    display: flex;
    justify-content: space-around;

}
.card h5{
    font-size:20px;
    line-height: 30px;
    color:#757575;
}
.card h4{
    font-weight: bold;
    font-size: 20px;
    color:#474747;
}
#skill{
padding-top:130px;

}
#skill .skill-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;

}
.skill-heading{
    width:827px;
    margin:0 auto;
    text-align:center;
}
.skill-heading h2{
    font-size:35px;
    color:#181818;
    font-weight: bold;
    margin-bottom:30px;

}
.skill-heading p{
    margin-bottom:80px;
    color:#757575;
    font-size:18px;
    line-height: 30px;

}
.skill-box{
display:flex;
gap:24px;
}

.skill-box .skill-card {
    max-width:267px;
    padding:30px;
/* border:1px solid red; */
box-shadow:0 6px 50px 0 #00000012
}
.skill-box .skill-card img{
    max-width:44px;
margin-bottom:30px;
}
.skill-card h3{
    font-size:18px;
    color:#181818;
    font-weight:bold;
    margin-bottom:20px;
}
.skill-card p{
    line-height: 28px;
    font-size:16px;
    color:#757575;
}


